html{
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

body{
    padding: 0px;
    margin: 0;
    height: 100vh;
    background: #FFF8DD;
    width: 100vw;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #FF7733;
}

/*MAIN PAGE*/
#name-title{
  position: relative;
  top: 10vh;
  font-family: AdobeGothicStd-Bold;
  text-align: center;
  color: #F85A3E;
  font-size: 5vw;
  width: 50%;
  background-color: rgb(255,255,255,.6);

  /* line-height: 20vw; */
  
  margin-left: auto;
  margin-right: 20px;
  border-width: 5px;
}

#icon-bar{
  margin: 0px;
}

#icon-span{
  margin-left: 10px;
  margin-right: 10px
}

#icon-image{
  height: 5vw;
  min-height: 30px;
  min-width: 30px;
}

/*END MAIN PAGE*/

.background-page{
  position: relative;
  background: #FFF8DD;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  clear: both;
  display: table;
}

.background-page-main{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  margin: 0;
  padding: 0;
  clear: both;
  display: table;
  background-image: url("../background.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: left;
  background-color: white;
  background-repeat: no-repeat;
}

/*FONTS*/
@font-face{
    font-family: AdobeGothicStd-Bold;
    src: url("../fonts/AdobeGothicStd-Bold.otf");
}
/*END FONTS*/
